---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=be38002a&app_key=9bff66efd5d2b993eec5f3e18e491c31&count=10&q=Republic%20of%20Iraq
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"q":"Republic of Iraq","from":0,"to":10,"more":false,"count":0,"hits":[]}'
  recorded_at: Tue, 15 Nov 2022 20:41:24 GMT
recorded_with: VCR 6.1.0
